<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img [src]="student.photoUrl" width="100" class="rounded-circle">
                </div>
                <div class="text-center mt-3">
                    <h5 class="mt-2 mb-0">Id :{{student.id}}</h5>
                    <h2>My Name : {{student.name}}</h2>
                    <p>My Age : {{student.age}}</p>
                    <ul class="social-list">
                        <li><a href="#" class="fab fa-facebook-f"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                        <li><a href="#" class="fab fa-instagram"></a></li>
                        <li><a href="#" class="fab fa-linkedin-in"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>