<div class="container mt-5">

    @if(course()){

    <div class="card shadow p-4">

        <img
            [src]="course()?.image"
            [alt]="course()?.title"
            class="img-fluid rounded mb-3">

        <h2>{{course()?.title}}</h2>

        <hr>

        <p>
            <strong>Instructor:</strong>
            {{course()?.instructor}}
        </p>

        <p>
            <strong>Price:</strong>
            {{course()?.price}} EGP
        </p>

        <p>
            <strong>Available Seats:</strong>
            {{course()?.seats}}
        </p>



    </div>

    }
    @else {

    <div class="alert alert-danger">
        Course Not Found
    </div>

    }
<div class="text-center m-5">
    <a routerLink="/order" class="btn btn-primary">
        Back to Courses
    </a>
</div>
</div>