<div class="container">

    <h2>Courses List</h2>

    <label>Select Category:</label>

    <select [(ngModel)]="selectedCategoryId">

        @for(category of categories; track category.id){

        <option [value]="category.id">
            {{category.title}}
        </option>

        }

    </select>

    <div class="courses">

        @for(course of filteredCourses; track course.id){

        <div class="card" [ngClass]="{'full-course': course.seats === 0}" [ngStyle]="{
              'background-color': course.seats <= 2 && course.seats > 0 ? '#fff3cd' : 'white'
            }">

            <img [src]="course.image" [alt]="course.title">

            <h3>{{course.title}}</h3>

            <p>
                <strong>Instructor:</strong>
                {{course.instructor}}
            </p>

            <p>
                <strong>Price:</strong>
                {{course.price}} EGP
            </p>

            <p>
                <strong>Seats:</strong>
                {{course.seats}}
            </p>

            @if(course.seats <= 2 && course.seats> 0){
                <p class="almost-full">
                    Almost Full
                </p>
                }

                @if(course.seats === 0){
                <p class="full">
                    Course Full
                </p>
                }

                <button (click)="register(course)" [disabled]="course.seats === 0">
                    Register
                </button>

        </div>

        }

    </div>

</div>